<!-- eslint-disable -->
<template>
  <section id="books-list-four">
    <a
      :href="$router.resolve({name: 'OneBook', params: {id: book.id}}).href"
    >{{ book.title }}</a>
  </section>
</template>

<script>
/* eslint-disable */
// @ is an alias to /src
export default {
  props: {
    book: Object
  }
};
</script>

<style lang="scss">
#books-list-four {
  ul {
    list-style: none;
  }
}
</style>
