<template>
  <main class="about row p-0 m-0">
    <section class="container col-md-8">
      <h2>This is an about page</h2>
    </section>
    <side-bar-vue class="col-md-3" />
  </main>
</template>

<script>
import SideBarVue from '../components/SideBar.vue';

export default {
  components: {
    SideBarVue,
  },
};
</script>
